<header id="ws-header" class="ws-header">
  <div class="ws-header-container">
    <div class="ws-logo">
      <a href="/"></a>
    </div>

    <nav class="ws-navmenu">
      <ul>
        <li><a href="/">HOME</a></li>
        <!-- <li><a href="/lab">LAB</a></li> -->
        <!-- <li><a href="/about">ABOUT</a></li> -->
        <!-- <li><a href="/tags">TAGS</a></li> -->
        <!-- <li><a href="/categories">CATEGORIES</a></li> -->
        <!-- <li><a href="/histories">HISTORIES</a></li> -->
      </ul>
    </nav>
  </div>
</header>
