
      <header class="navbar navbar-static-top dot-navbar">
        <div class="container dot-navbar-container">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#dot-mobile-navbar" aria-controls="dot-mobile-navbar" aria-expanded="true">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand dot-logo" href="{{site.url}}"></a>
          </div>

          <div class="collapse navbar-collapse dot-navbar-collapse">
            <nav class="navmenu dot-navmenu">
              <ul class="nav navbar-nav">
                <li data-target="home"><a href="{{site.url}}">首页</a></li>
                <li data-target="categories"><a href="{{site.url}}/categories">分类</a></li>
                <li data-target="tags"><a href="{{site.url}}/tags">标签</a></li>
                <li data-target="laboratory"><a href="{{site.url}}/laboratory">实验室</a></li>
                <li data-target="books"><a href="{{site.url}}/books">万卷书</a></li>
                <li data-target="collections"><a href="{{site.url}}/collections">拾遗</a></li>
                <li data-target="about"><a href="{{site.url}}/about">关于</a></li>
                <li data-target="histories"><a href="{{site.url}}/histories">轨迹</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </header>

      <div id="dot-mobile-navbar" class="collapse navbar-collapse dot-mobile-navbar">
        <div class="dot-mobile-navbar-container">
          <div class="mobile-navbar-close-icon">
            <span></span>
          </div>
          <nav class="navmenu dot-mobile-navmenu">
            <ul class="nav navbar-nav">
              <li data-target="home"><a href="{{site.url}}">首页</a></li>
              <li data-target="categories"><a href="{{site.url}}/categories">分类</a></li>
              <li data-target="tags"><a href="{{site.url}}/tags">标签</a></li>
              <li data-target="laboratory"><a href="{{site.url}}/laboratory">实验室</a></li>
              <li data-target="books"><a href="{{site.url}}/books">万卷书</a></li>
              <li data-target="collections"><a href="{{site.url}}/collections">拾遗</a></li>
              <li data-target="about"><a href="{{site.url}}/about">关于</a></li>
              <li data-target="histories"><a href="{{site.url}}/histories">轨迹</a></li>
            </ul>
          </nav>
        </div>
      </div>